# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
*.swp
*.swo
*~

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node
node_modules/
npm-debug.log*

# Cloudflare Workers
.wrangler/
.dev.vars

# Build
dist/
*.tsbuildinfo
